.home-banner {
  background-color: var(--bg-banner);
  height: 33.75rem;
}

.home-banner__search {
  height: 5.125rem;
  margin-bottom: 3.6875rem;
  max-width: 88.4375rem;
  width: 100%;
}

.home-banner__title {
  /* font-family: 'Poppins'; */
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.6875rem;
  margin-bottom: 2.5625rem;
}

.home-banner__search-input,
.home-banner__search-button {
  background-color: var(--white);
  border: 1px solid var(--border-input);
  border-radius: 0.625rem;
  box-sizing: border-box;
  color: var(--text-input);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
  padding: 1.4375rem 1.375rem;
  width: 29.125rem;
}

.home-banner__search-button {
  background-color: var(--bg-button);
  color: var(--white);
}
